.guti {
    height: 55px;
    width: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    opacity: .5;
}
.player-one {
    background-color: #fffa27;
}

.player-two {
    background-color: #4fee58;
}

.player-one.king {
    border: 3px solid red;
}

.player-two.king {
    border: 3px solid white;
}
.active {
    opacity: 1;
}