.guti {
    height: 55px;
    width: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
}
.player-one {
    background-color: yellow;
}

.player-two {
    background-color: green;
}

.player-one.king {
    background-color: orange;
}

.player-two.king {
    background-color: palegreen;
}