.game-board {
    width: 50%;
    margin: 0 auto;
    background-color: #a8cbff;
}

.row {
    width: 92%;
    display: block;
    border: 1px solid red;
    margin: 0 auto;
}

.col {
    height: 50px;
    width: 50px;
    padding: 1em;
    border: 1px solid black;
    display: inline-block;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}