.game-board {
    width: 50%;
    margin: 0 auto;
}

.row {
    width: 92%;
    display: block;
    margin: 0 auto;
}

.col {
    height: 50px;
    width: 50px;
    padding: 1em;
    border: 1px solid black;
    display: inline-block;
}

.highlight {
    opacity: .3;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}
div h1 {
    text-align: center;
}