.game-board {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
}

/*.row {*/
/*    width: 92%;*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*}*/

.col {
    display: flex;
    align-items: center;
}

.board-item {
    min-width: 60px;
    min-height: 60px;
}

.highlight {
    opacity: .3;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}
div h1 {
    text-align: center;
}

.inactive-guti div {
    border: 1px solid black;
    margin-top: 4px;
}

.modal.show-modal {
    display: block;
}

.modal-body > .player-one {
    color: #fffa27;
}

.modal-body > .player-two {
    color: #4fee58;
}